.CheckoutSummary{
 width: 80%;
 margin: auto;
 text-align: center;
}

@media screen and (max-width: 500px){
    .CheckoutSummary {
        width: 450px; 
    }
}

.Burger {
    width: 100%;
    margin: auto;
}

.Button{
    max-width: 450px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}