.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background-color: #7f3608;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

@media screen and (max-width: 425px){
    .Nav {
        display: none;
    }
}

