.Modal {
    width: 20rem;
    height: 20rem;
    padding: 2rem 4rem;
    margin: auto;
    background-color: wheat;
    position: fixed;
    top: 20%;
    left: calc((100vw / 2) - 10rem);
    z-index: 200;
    transform: translateY(-100vh);
    transition: all .5s ease-out;
}

.animate {
    transform: translateY(0);
}
