.NavigationItem {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
}

.NavigationItem a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
}

@media screen and (max-width: 425px){
    .NavigationItem {
        margin: 6px 0;
        display: block;
        height: 100%;
    }

    .NavigationItem a {
        color: #8f5c2c;
        display: block;
        width: 100%;
        text-align: left;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: #40a4c8;
    }

}
