.button {
    padding: 8px 10px;
    outline: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}

button.Cancel{
    background-color: red;

}

button.Checkout{
    background-color: green;
}
