.OrderSummary {
    margin: auto;
    width: 80%;
}

ul.OrderSummary{
    list-style: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;

}

.button-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}