.Logo {
    align-self: center;
    padding: 5px ;
    height: 90%;
    max-width: 80px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
}

.Logo > img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 425px){
    .Logo {
        max-width: 70px;
    }
}
