.Menu {
   display: none;
    max-width: 40px;
    padding: 5px;
    background-color: white;
    height: 25px;
    border-radius: 5px;
}

.Icon {
    position: relative;
    background-color: black;
    width: 30px;
    height: 3px;
    transform: translateY(11px);
}

.Icon::before,
.Icon::after {
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
    content: "";
}

.Icon::before {
   top: -8px
}

.Icon::after {
    top: 8px;
}

@media screen and (max-width: 425px){
    .Menu {
        display: inline-flex;
        justify-self: flex-start;
    }
}
