.NavigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    margin:0;
    padding: 0;
    z-index: inherit;
}

@media screen and (max-width: 425px){
    .NavigationItems {
       display: block;
    }
}
